{% extends "ContactBundle::mainTemplate.html.twig" %}
{% block headTitle %}Dodaj nowy adres{% endblock %}
{% block bodyForm %}
<h1>Krok 1: Dodaj adres</h1>
{{ form_start(address) }}
{{ form_widget(address) }}
{{ form_end(address) }}
<a href="{{ path('addMail', {'id': id}) }}">Pomiń i przejdź do Kroku 2: Dodaj e-mail</a><br>
{% endblock %}