{% extends "ContactBundle::mainTemplate.html.twig" %}
{% block headTitle %}Dodawanie nowej grupy{% endblock %}
{% block bodyForm %}
<h1>Dodaj nową grupę</h1>
{{ form_start(group) }}
{{ form_widget(group) }}
{{ form_end(group) }}
{% endblock %}